:root {
  font-family:
    Pretendard Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* s드림 폰트 설정 */

@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream1.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream2.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream3.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream4.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream5.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream6.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream7.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream';
  src: url('./assets/fonts/SCDream8.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
