.bottom-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  /* position: fixed; */
  width: 375px;
  /* right: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* bottom: 0; */
  padding: 13px 0;
}

.bottom-navbar button {
  margin: 0 5px;
}
